_checkouts
.rebar
rebar
!apps/rebar/
!apps/rebar/src/
!apps/rebar/src/r3.erl
!apps/rebar/test/
!apps/rebar/test/r3_SUITE.erl
rebar.cmd
rebar.ps1
_build
.depsolver_plt
*.beam
test/*_data
logs
/rebar
*~
*.orig
.*.swp
/rt.work
/dialyzer_warnings
/rebar.cmd
/.eunit
/deps
/.rebar
priv/templates/*.dtl.erl
ebin
.edts
env

# hex_core artifact
apps/rebar/src/vendored/r3_safe_erl_term.erl
