%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% %CopyrightBegin%
%%
%% SPDX-License-Identifier: Apache-2.0
%%
%% SPDX-FileCopyrightText: Copyright 2015-2026 Rebar3 and its contributors
%%
%% SPDX-FileCopyrightText: Copyright 2026 Dipl. Phys. Peer Stritzinger GmbH
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%%     http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.
%%
%% %CopyrightEnd%

%% Upgrade by calling 'rebar experimental vendor' and making sure
%% any manual patches (Eg. erlware_commons or relx) are kept.
{deps, [{erlware_commons,  "1.8.0"},
        {ssl_verify_fun,   "1.1.6"},
        {providers,        "1.9.0"},
        {bbmustache,       "1.12.2"},
        {relx,             "4.10.0"},
        {cf,               "0.3.1"},
        {cth_readable,     "1.6.1"},
        {eunit_formatters, "0.6.0"}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/rebar\" ./rebar"},
              {"(win32|windows)",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ rebar* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{escript_name, rebar}.
{escript_wrappers_windows, ["cmd", "powershell"]}.
{escript_comment, "%%Rebar 3.27.0\n"}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
%% escript_incl_priv is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_priv, [{relx, "templates/*"},
                     {rebar, "templates/*"}]}.

{overrides, [{add, relx, [{erl_opts, [{d, 'RLX_LOG', rebar_log}]}]}]}.

{erl_opts, [warnings_as_errors]}.

{edoc_opts, [preprocess]}.

%% Use the newest OTP when dialyzing rebar
{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, [parsetools, public_key]}
]}.

%% Keep only the logs of the last 5 runs
{ct_opts, [{keep_logs, 5}]}.

%% Profiles
{profiles, [{test, [
                   {deps, [{meck, "0.8.13"}]},
                   {erl_opts, [debug_info, nowarn_export_all]}
                   ]
            },

            {dialyzer, [
                {erl_opts, [debug_info, nowarn_export_all]}
            ]},

            {bootstrap, []},

            {prod, [
                {erl_opts, [no_debug_info]},
                {overrides, [
                    {override, erlware_commons, [
                        {erl_opts, [no_debug_info,
                                    warnings_as_errors]},
                        {deps, []}, {plugins, []}]},
                    {add, ssl_verify_hostname, [{erl_opts, [no_debug_info]}]},
                    {add, cf, [{erl_opts, [no_debug_info]}]},
                    {add, cth_readable, [{erl_opts, [no_debug_info]}]},
                    {add, eunit_formatters, [{erl_opts, [no_debug_info]}]},
                    {override, bbmustache, [
                        {erl_opts, [no_debug_info, {platform_define, "^[0-9]+", namespaced_types}]},
                        {deps, []}, {plugins, []}]},
                    {add, providers, [{erl_opts, [no_debug_info]}]},
                    {add, relx, [{erl_opts, [no_debug_info]}]}]}
            ]}
           ]}.

{compiler_error_format, rich}.
