%% %CopyrightBegin%
%%
%% SPDX-License-Identifier: Apache-2.0
%%
%% SPDX-FileCopyrightText: Copyright 2014-2021 Tristan Sloughter and Contributors
%%
%% SPDX-FileCopyrightText: Copyright 2026 Dipl. Phys. Peer Stritzinger GmbH
%%
%% %CopyrightEnd%

{erl_opts, [debug_info]}.
{deps, [{erlware_commons,  "1.4.0"}]}.
